<?xml version="1.0"?>
<config>
	<sections>
		<admin>
			<groups>
				<aoe_filepicker translate="label">
					<label>Aoe_Filepicker</label>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<apikey translate="label">
							<label>Filepicker.io API Key</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[Sign up to <a href="https://www.filepicker.io/">Filepicker.io</a> and get an API key from there.]]></comment>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</apikey>
						<services translate="label">
							<label>Services</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>aoe_filepicker/source_filePickerServices</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</services>
					</fields>
				</aoe_filepicker>
			</groups>
		</admin>
	</sections>
</config>