<?xml version="1.0"?>
<config>
	<modules>
		<Aoe_FilePicker>
			<version>0.0.1</version>
		</Aoe_FilePicker>
	</modules>
	<global>
		<models>
			<aoe_filepicker>
				<class>Aoe_FilePicker_Model</class>
			</aoe_filepicker>
		</models>
		<helpers>
			<aoe_filepicker>
				<class>Aoe_FilePicker_Helper</class>
			</aoe_filepicker>
		</helpers>
		<blocks>
			<aoe_filepicker>
				<class>Aoe_FilePicker_Block</class>
			</aoe_filepicker>
			<adminhtml>
				<rewrite>
					<media_uploader>Aoe_FilePicker_Block_FilePicker</media_uploader>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aoe_filepicker before="Mage_Adminhtml">Aoe_FilePicker</aoe_filepicker>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>